src/main/resources/passenger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="passenger" type="passengerType"/>
  <xs:complexType name="passengerType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="iin"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="surname"/>
      <xs:element type="xs:string" name="dateofbirth"/>
      <xs:element type="pasportType" name="pasport"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pasportType">
    <xs:sequence>
      <xs:element type="xs:string" name="number"/>
      <xs:element type="xs:string" name="citizenship"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>